# Texas Tow Trucks

We're going to scrape some [tow trucks in Texas](https://www.tdlr.texas.gov/tools_search/).

# Part One: Building a company list

Search for businesses with the word **WRECK** in their names.

* **Tip:** Start by scraping the first page to a dataframe, then expand to a loop that combines all of the pages. Finally combine all of the dataframes with `pd.concat`. You might find [this page helpful](https://jonathansoma.com/everything/scraping/pagination/), although the "On an interactive site" example uses Selenium instead of Playwright. You should be able to figure out how to change it!
* **Tip:** You can't just do a `try`/`except`, because even if you ask for page 99999 it will always give you the last page again! Watch out that you don't get stuck in an infinite loop!

In [3]:
from playwright.async_api import async_playwright

In [4]:
playwright = await async_playwright().start()
browser = await playwright.chromium.launch(headless=False)
page = await browser.new_page()

In [12]:
await page.goto('https://www.tdlr.texas.gov/tools_search/')

In [17]:
await page.locator("#namedata").fill('Wreck')

In [18]:
await page.locator("#name_carrier_type").select_option(value='DBA')

['DBA']

In [19]:
await page.locator("#namebutton").click()

In [20]:
await page.locator("#submit3").click()

In [21]:
html = await page.content()

In [28]:
import pandas as pd
from bs4 import BeautifulSoup

In [25]:
tables = pd.read_html(html, index_col=None, header=0)
tables[2]

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/2568698311.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(html, index_col=None, header=0)

,Customer,DBA Name,TDLR Number,City,State,Zip code
0,271 VENTURES LLC,271 WRECKERS,006428802C,GLADEWATER,TX,75647
1,271 VENTURES LLC,271 WRECKERS,0642881VSF,GLADEWATER,TX,75647
2,290 WRECKER SERVICE INC,HWY 290 WRECKER,0656637VSF,HOCKLEY,TX,77447
3,290 WRECKER SERVICE INC.,HWY 290 WRECKER,0650616VSF,HOCKLEY,TX,77447
4,"290 WRECKER SERVICE, INC.",HWY 290 WRECKER SERVICE,0657944VSF (Insurance not applied !),HOCKLEY,TX,77447
5,"290 WRECKER SERVICE, INC.",HWY 290 WRECKER,0545753VSF,HOCKLEY,TX,77447
6,"290 WRECKER SERVICE, INC.",HWY 290 WRECKER,005697854C,WALLER,TX,77484
7,"4A'S ENTERPRISES, INC",ERIKA'S WRECKER SERVICE,0606250VSF (Insurance not applied !),CORPUS CHRISTI,TX,78427
8,"4A'S ENTERPRISES, INC.",ERIKA'S WRECKER SERVICE,006061621C,CORPUS CHRISTI,TX,78247
9,A & H WRECKER SERVICE LLC,A&H WRECKER SERVICE,006543241C (Expired!),SOUTH HOUSTON,TX,77587
10,A & L DELGADO'S CORPORATION,DELGADO'S WRECKER SERVICE LOT NO 2,0643569VSF,EAGLE LAKE,TX,77434
11,A & L DELGADO'S CORPORATION,DELGADO'S WRECKER SERVICE,005056941C,EAGLE LAKE,TX,77434
12,A & L DELGADO'S CORPORATION,DELGADO'S WRECKER SERVICE,0515235VSF,EAGLE LAKE,TX,77434
13,A & S WRECKER SERVICE,A & S WRECKER SERVICE,006598236C,EL CAMPO,TX,77437
14,"A WRECKER SERVICE,LLC",A WRECKER SERVICE,006060211C,STAFFORD,TX,77477
15,ABILENE AUTO WRECKING,DBA. ABILENE AUTO WRECKING,005059531C,ABILENE,TX,79601
16,ACE OF GALVESTON WRECKER SERVICE,ACE OF GALVESTON WRECKER SERVICE,0650631VSF (Expired!),GALVESTON,TX,77552
17,ACE WRECKER SERVICE INC,RAY'S WRECKER SERVICE,005820848C,VIDOR,TX,77662
18,"ACE WRECKER SERVICE, INC.",RAY'S WRECKER SERVICE,0582200VSF,VIDOR,TX,77662
19,AHMAD BUSTAMI,AMIR WRECKER SERVICE,006558603C (Expired!),CYPRESS,TX,77429

In [26]:
all_dfs = [tables[2]]

In [52]:
#get all urls
doc = BeautifulSoup(html)
# len(doc.select('#form1 a'))
urls = []
for link in doc.select('#form1 a')[21:54]:
    temp_link = link['href'].replace('\n', '').replace('\t', '')
    # print(temp_link)
    urls.append(temp_link)
urls

['mccs_search_process.asp?page=2&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=3&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=4&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=5&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=6&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=7&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=8&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=9&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=10&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=11&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=12&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=13&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=14&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=15&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=16&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=17&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=18&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=19&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=20&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=21&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=22&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=23&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=24&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=25&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=26&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=27&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=28&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=29&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=30&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=31&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=32&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=33&stype=name&ls_temp=Wreck&ls_carrier_type=DBA',
 'mccs_search_process.asp?page=34&stype=name&ls_temp=Wreck&ls_carrier_type=DBA']

In [73]:
for page_num in range(33):
    temp_url = 'https://www.tdlr.texas.gov/tools_search/' + urls[page_num]
    print("Scraping page", page_num)
    print(temp_url)
    await page.goto(temp_url)
    new_html = await page.content()
    new_tables = pd.read_html(new_html, index_col=None, header=0)

    all_dfs.append(new_tables[2])
    
    # print(all_dfs)
    # Scrape scrape scrape
    # Scrape scrape scrape
    # Always adding to the 'rows' variable

results = pd.concat(all_dfs)

Scraping page 0
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=2&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 1
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=3&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 2
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=4&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 3
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=5&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 4
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=6&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 5
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=7&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 6
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=8&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 7
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=9&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 8
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=10&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 9
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=11&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 10
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=12&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 11
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=13&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 12
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=14&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 13
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=15&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 14
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=16&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 15
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=17&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 16
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=18&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 17
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=19&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 18
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=20&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 19
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=21&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 20
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=22&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 21
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=23&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 22
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=24&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 23
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=25&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 24
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=26&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 25
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=27&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 26
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=28&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 27
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=29&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 28
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=30&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 29
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=31&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 30
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=32&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)
/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

Scraping page 31
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=33&stype=name&ls_temp=Wreck&ls_carrier_type=DBA
Scraping page 32
https://www.tdlr.texas.gov/tools_search/mccs_search_process.asp?page=34&stype=name&ls_temp=Wreck&ls_carrier_type=DBA

/var/folders/st/3g_y2gzx2qlcw80sfz6hkjk00000gn/T/ipykernel_48122/1570807218.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  new_tables = pd.read_html(new_html, index_col=None, header=0)

In [74]:
results.tail()

,Customer,DBA Name,TDLR Number,City,State,Zip code
18,WOLF CREEK SERVICE GROUP LLC,BIG BEAR WRECKER SERVICE,0659903VSF,CELESTE,TX,75423
19,WOLF CREEK SERVICE GROUP LLC,BIG BEAR WRECKER SERVICE,006592211C,CELESTE,TX,75423
0,WRECKER-LA GRUA LLC,THE WRECKER LA GRUA,006541309C,AUSTIN,TX,78747
1,YEIMY C PINEDA,ANOTHER LEVEL WRECKER,006542620C,ROSENBERG,TX,77471
2,YEIMY C PINEDA,ANOTHER LEVEL WRECKER,0654264VSF,ROSENBERG,TX,77471

### Cleanup

If you haven't already, rename the columns to be:
    
    * Customer
    * DBA Name
    * TDLR Number
    * City
    * State
    * Zip code

and remove all of the rows where the customer name is `Customer`.

Empty DataFrame
Columns: [Customer, DBA Name, TDLR Number, City, State, Zip code]
Index: []

## Save as `wreckers.csv`

In [78]:
results.to_csv("wreckers.csv", index=False)

# Part Two: Company info

> You can use whatever tool you'd like for this, but form submission doesn't necessarily mean Playwright! If you want to go the `requests` route instead, feel free to [look at this page](https://jonathansoma.com/everything/scraping/pretending-to-be-a-browser/) about several ways to pretend to be a browser.

## Step 1: Scraping one page

Try searching from the [tools page](https://www.tdlr.texas.gov/tools_search/) for the TDLR Number `006556161C`. From the results page, scrape the:

* Business name
* Phone number
* License status
* Physical address

And save the results into a dictionary. Also include `TDLR Number` in the dictionary. **Print the dictionary**.

> ***Tip:** It's best if each item has its own key, but **it's fine to pull "larger" sections of the page and split them up in pandas later on***
>
> ***Tip:** Be sure you don't forget to include `TDLR Number` in the dictionary!*

## Step 2: Move into one cell

Move the code above all into one cell that relies on the variable `tdlr_number`.

Add the code below to the page and confirm that it displays the data for the correct result.

```python
tdlr_number = '0654479VSF'
```

Confirm that the information is correct. Did it not work out? Go back and edit your selectors, or be a little broader in the parts of the page you sweep up.

## Step 3: Scraping many pages

Using pandas, read in `trucks-subset.csv`.

## Scrape every single row, creating a list of dictionaries from the scraped data.

You should never use for loops with pandas *except when working with Playwright*. To use loops in pandas you'll make use of `.iterrows()`.

The code below loops through a dataframe called `df` and prints out the `address` column.

```python
for index, row in df.iterrows():
    print(row['address'])
```

You'll adapt this code to use your dataframe, and combine it with the scraping code you wrote above.

> ***Tip:** This is like what we did for the townships in class*

## Save your dataframe as `data-uncleaned.csv`

# Cleaning your data

## Re-open the `data-uncleaned.csv` file

You probably want to set `pd.options.display.max_colwidth`

## Clean it up!

Make sure there are columns for

- Business name
- Phone number
- License status
- Physical address

And drop all of the other columns (The easiest way is to use `df = df.drop(columns=[...])`)

## Combine with the original CSV file

To combine dataframes based on indexes, you use `df.join(other_df)`. If you'd prefer to match by columns, you could also use `df.merge(other_df, left_on='...', right_on='...')` and tell it the two columns that match between the two.

### Save to a CSV